/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/


.beatbot-navbar{
	height: 60px;
	min-height: 0px !important;
	margin-bottom: 5px !important;
	outline: 5px solid rgba(0, 0, 0, 0.5);
}

.beatbot-navbar ul li{
	color: #fff !important;
}

.beatbot-navbar ul li:hover > a,
.beatbot-navbar ul li:active > a{
	background: #e3e3e3	 !important;
	color: #555;
	text-shadow: none !important;
}

.form_container{
	background: url('text_to_playlist.jpg');
	height: 590px;
}

.form_background{
	position: relative;
	top: 50px;
	left: 100px;
	margin-left: 150px;
	border-radius: 10px;
	width: 900px;
	height: 500px;	
	text-align: center;
	padding: 30px;
}

.form_background .other_than_inputs{
	margin-left: 30px;
	color: #fff !important;
	font-size: 80px;
}

/*.form_background ul li.as-original{
	display: inline-block !important;
	color: #000 !important;
	height: 45px !important;
	width: 800px;
	line-height: 45px !important;
}

.form_background ul li.as-original input{
	height: 35px !important;
	width: 800px !important;
}*/


.form_background ul.as-selections li{
	color: #2b3840 !important;
}

.token-input-dropdown-mac{
	width: 740px;
}

.token-input-list-mac{
	background: #fff !important;
}

.token-input-token-mac{
	height: 30px !important;
}